name: CI

# Trigger the workflow on push or pull request or manually
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request:

# the `concurrency` settings ensure that not too many CI jobs run in parallel
concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the default repository branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref_name != github.event.repository.default_branch || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  # The CI test job
  test:
    name: "GAP ${{ matrix.gap-branch }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        gap-branch:
          - master
          - stable-4.15
          - stable-4.14
          - stable-4.13
          - stable-4.12
        include:
          - os: windows
            gap-branch: master

    steps:
      - uses: actions/checkout@v6
      - uses: gap-actions/setup-cygwin@v2
        if: ${{ runner.os == 'Windows' }}
      - uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_BUILD: 'io' # exclude profiling, i.e., *this* package
          GAPBRANCH: ${{ matrix.gap-branch }}
      - uses: gap-actions/build-pkg@v2
      - uses: gap-actions/run-pkg-tests@v4
        with:
          coverage: false
      - uses: gap-actions/run-pkg-tests@v4
        if: ${{ runner.os != 'Windows' }}
        with:
          coverage: false
          mode: 'onlyneeded'
      - name: "Generate source coverage reports by running gcov"
        shell: bash
        run: find . -type f -name '*.gcno' -exec gcov -pb {} +
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
